* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background-color: #f4f4f4;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 15px;
}

.detail-wrapper {
	display: flex;
	gap: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 25px;
	box-shadow: 0 4px 10px black;
}

.detail-img {
	flex: 0 0 350px;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: 8px;
}

.detail-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.detail-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detail-name {
	color: #2d6cdf;
	margin-bottom: 12px;
}

.detail-price {
	color: #e0622a;
	font-weight: bold;
	margin-bottom: 16px;
}

.detail-desc {
	color: #555;
	line-height: 1.6;
}

/* Sản phẩm tương tự */
.related-title {
	color: #2d6cdf;
	margin-bottom: 20px;
	border-left: 4px solid #2d6cdf;
	padding-left: 10px;
}

.product-item {
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	transition: box-shadow 0.2s ease, transform 0.2s ease; /*ease: chậm nhanh chậm*/
}

.product-item:hover {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transform: translateY(-3px); /*Y dịch chuyển hướng xuống*/
}

.product-info .name {
	font-size: 16px;
	margin-bottom: 6px;
	color: #333;
}

.product-info .price {
	color: #e0622a;
	font-weight: bold;
	margin-bottom: 8px;
}

.product-info .description {
	font-size: 13px;
	color: #777;
	margin-bottom: 12px;
}

.product-info .link {
	display: inline-block;
	background-color: #2d6cdf;
	color: #fff;
	text-decoration: none;
	padding: 6px 12px;
	border-radius: 5px;
	font-size: 13px;
}

.product-info .link:hover {
	background-color: #1b4fb0;
}