*{
	padding:5px;
	font-size:20px ;
	font-family:Arial ;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h2{
	display: flex;
	justify-content: center;
	align-items: center;      
	margin: 20px;
	text-transform: uppercase;
}

form{
	width:auto;
	max-width:500px;
	border: 2px solid black;
	padding:20px;
	border-radius: 20px;
}

#control{
	width:auto;
	height:auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label{
	width:150px;
	text-align: left;
}
